<div class="project"> 
	<div class="box action"> 
		<%= @projects.index(project) + 1 %>.
	</div>
	<div class="box content">
		
		<div class="title inner">
			<%= link_to project.title, project %> 
		</div>
		<div class="description inner">
			<%= project.description  %>
		</div>
		<div> <span class="label label-inverse">category</span> 
			<i class="label label-important"> <%= project.project_category.name %> </i>
		</div>
	</div>
	<div class="notes_count">
		<% count = project.notes.count %>
		<% if count > 0 %>
			<span class="badge badge-warning"> <%= count %> </span>
		<% else %>
			<span class="badge"> <%=  count %> </span>
		<% end %>
		
		<span> 
			<a href="<%= edit_project_path(project) %> "> 
				<i class="icon icon-pencil"></i>
			</a>
			</span>
	</div>
</div>
