<div class="project"> 
	<div class="box action"> 
		<%= @projects.index(project) + 1 %>.
	</div>
	<div class="box content">
		
		<div class="title inner">
			<%= link_to project.title, edit_project_path(project) %> 
		</div>
		<div class="description inner">
			<%= project.description  %>
		</div>
		<div> <span class="label label-inverse">category</span> 
			<i class="label label-important"> <%= project.project_category.name %> </i>
		</div>
	</div>
	<div class="notes_count">
		<span class="summary_box">
			<%= link_to "#{pluralize(project.notes.count,  "note")} ",project_path(project) %>
		</span>
		
		<span class="summary_box">
			<%= link_to "#{ pluralize(project.tasks.count, "task")} ",project_tasks_path(project) %>
		</span>
	</div>
</div>
