<br>
<div ng-controller="AppController">
	<tabs>
		<pane title="Projects" visible="view.showProjects">
			<div class="clearfix">
				<div ng-controller="ProjectsController">
					<div id="the_project_form" class="pull-left">
						<legend> {{ formTitle }} Project</legend>
						<%= render "project_form" %>
					</div>
					<div class="pull-right" id="wrapper">
				  	<%=  render "list" %>
					</div>
				</div>
			</div>
		</pane>
		<pane title="Notes" visible="view.showNotes">
			<div ng-controller="NotesController" class="clearfix">
				<div class="pull-left" id="note_form">
					<legend> {{ formTitle }} note </legend>
					<%= render "notes/note_form" %>
				</div>
				<div class="pull-right" id="notes_list">
					<%= render "notes/list" %>	
				</div>
				<%= render "notes/note_dialogs" %>
			</div>
		</pane>
		<pane title="Tasks" visible="view.showTasks">
			<div ng-controller="TasksController" class="tasks-container">
				<%= render "tasks/list" %>
			</div>
		</pane>
	</tabs>
</div>

