<h2> <%= @project.title %> </h2>
<div id="note_form">
	<legend>New note</legend>
	<%= render "notes/note_form" %>
</div>

 <br>
 <div>

 <% notes_count = @notes.count %>
 <% if notes_count > 0 %>
 	<span class='badge badge-warning notes_count'> <%= notes_count %>  </span>
 <% else %>
 	<span class='badge notes_count'>  <%= notes_count %>  </span>
 <% end %>
 
<i>	<%= pluralize_without_count(notes_count,"Note") %> for "<%= @project.title %>" </i>
	</div>
 
	<br>
	<% if @notes.any? %>

		<table class="table table-bordered table-striped">
			<% @notes.each do |note| %>
				<% if note.content %>
					<tr>
						<td class="action_column"> <%= @notes.index(note) + 1 %>. </td>
						<td> <%= note.content %> </td>
						<td class="action_column">
							<a href="<%= edit_project_note_path(@project,note) %>"> <i class="icon icon-pencil"> </i> </a>
						 </td>
					</tr>
					<% end %>
				<% end  %>
		</table>
	<% else %>
		<div>There currently no notes for this project </div>
	<%end %>
