<h2>
	<%= @project.title %>
</h2>
<div>
	<%= render "notes/new_note" %>
</div>
<div>
	<span class='badge badge-success'> <%= pluralize( @notes.count,"note") %>  </span>
</div>
 <br>
notes
	<% if @notes.any? %>
	
		<table class="table table-bordered table-striped">
			<% @notes.each do |note|%>
				<% if note.content %>
					<tr>
						<td class="action_column"> <%=  @notes.index(note) + 1 %>. </td>
						<td> <%= note.content %> </td>
					</tr>
					<% end %>
				<% end  %>
		</table>
	<% else %>
		<div>There currently no notes for this project </div>
	<%end %>
