<h2>Project Categories 
<div class="pull-right">
	<span class="badge badge-success">  
		<%= @project_categories.count %> 
	</span> <i> Categories </i>
</div>
</h2>
<br>
<% if not @project_categories.empty? %>
<div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @project_categories.each do |project_category| %>
			<tr>
				<td class="action_column"> <%= @project_categories.index(project_category) + 1 %>. </td>
				<td> <%= project_category.name %> </td>
				<td> <%= project_category.description %></td>
				<td> 
					<a href="<%= edit_project_category_path(project_category) %>"> 
						<i class="icon icon-pencil"></i> 
					</a> 
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% else %>
	<div class="pull-right">

	</div>
<% end %>