<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "My TOTS", root_path, id: "logo", class: "brand" %>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% if signed_in? %>
               <li class="<%= active_klass('Home', yield( :title )) %>">
                   <%= link_to "Home" , root_path %>
                </li>
                <li class="<%= active_klass('Projects', yield( :title )) %>">
                   <%= link_to "Projects", projects_path  %>
                </li>
                <li class="<%= active_klass('Profile', yield( :title )) %>">
                   <%= link_to "Profile", user_path(current_user) %>
                </li>
                <li>
                   <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
           <% else %>
                <li> <%= link_to "Sign in", signin_path %> </li>
           <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
